section#experiences
  h3
    span.material-icons-sharp work_history
    =' ' + __('experiences_header')
  .container-fluid.content
    each xp in __('experiences')
      article.p-2
        .d-flex
          .flex-grow-1
            h4=xp.title
            h5=xp.subtitle
          h5.datetime=xp.startdate + ' - ' + xp.enddate
        .row
          .container-fluid
            span=xp.intro
            if xp.tasks
              ul
                each task in xp.tasks ? xp.tasks : []
                  li=task
            if xp.technical_stack
              b=__('technical_stack')
              = xp.technical_stack
