extends ../layout

block head
  link(rel='stylesheet' href='/cv/cv.css')
  if __('description')
    meta(name='description' content=__('description'))

block content
  include navbar.pug

  .cv
    .row
      .col-3.text-end.d-flex.justify-content-end
        img#photo.d-none.d-print-none.d-sm-inline.align-self-center(src="cv/profile-bguina.png")

      #header.col-12.col-print-6.col-sm-6
        h1=__('name')
        h2=__('title')
        h5=__('subtitle')

      .col-12.col-print-3.col-sm-3.d-sm-flex.align-items-center
        include info.pug

    if __('profile')[0]
      section#profile.row.d-print-none
        .content.p-2
            each paragraph in __('profile')
              p=paragraph

    .row
      .col-12.col-print-12.col-lg-3
        include skills.pug

      .col-12.col-print-12.col-lg-9
        include experience.pug
        include education.pug
