section#skills
  h3
    span.material-icons-sharp architecture
    =__('skills_header')

  .row.content

    .col-12
      article
        h5= __('methodology_header')
        ul.list-unstyled.row
          each metholology in __('methodology')
            li.col-6.col-print-3.col-sm-4.col-md-3.col-lg-12
              span=metholology

    .col-12
      article
        h5=__('languages_and_tools_header')
        ul.list-unstyled.row
          each skill in skills
            li.col-6.col-print-3.col-sm-4.col-md-3.col-lg-12
              img.align-self-center.align-self-lg-start.icon(src="/cv/" + skill.icon alt=skill.label)
              span.d-inline-block=skill.label
